node_modules
npm-debug.log*
.git
.github
coverage
docs
.env
dist
infra/terraform/.terraform
tests
Dockerfile
docker-compose.yml
.scannerwork
.sonar
README.md
audit*.json
checkov-report.json
trivy-report.json
