node_modules
.git
coverage
docs
.env
dist
infra/terraform/.terraform
*.log
npm-debug.log*
.github
node_modules
npm-debug.log
coverage
.git
.github
.env
tests
Dockerfile
docker-compose.yml
.scannerwork
.sonar
